@mixin respond($breakpoint)
    @if $breakpoint == mobile
        @media screen and ( max-width: 375px )
            @content
    @if $breakpoint == tablet
        @media screen and ( min-width: 376px ) and ( max-width: 768px )
            @content

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

body
    // height: 100vh
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 4rem minmax(10rem, 40rem) 4rem
    background-color: $bg-page
    justify-items: center
    align-content: center
    span
        color: $p-gray

[hidden]
    display: none !important