@use "base" as *

@font-face
    font-family: "Roboto"
    src: local("Roboto-Regular")
    src: url("../fonts/Roboto-Regular.ttf")
    font-weight: regular
    font-style: normal
    font-display: swap

html
    font-size: 62.5%

span
    font-size: 1.4rem
    font-weight: 600

.product-card
    &__name
        font-size: 3.2rem
        @include respond(laptop)
            font-size: 2.1rem
        @include respond(tablet)
            font-size: 1.9rem
    &__server-category, &__server-weight
        font-size: 1.4rem
        font-weight: 600
    &__current-cost
        span
            font-size: unset
        font-size: 1.9rem
        font-weight: 600
    &__old-cost
        font-size: 1.4rem
        font-weight: 600
        text-decoration: line-through
    &__variant-sku
        font-family: "Roboto"
        font-size: 1.0rem
    &__variant-sku span
        font-size: 1.2rem
        font-weight: 100
        @include respond(laptop)
            font-size: 1rem

.actions
    &__arrow
        font-size: 1.5rem

.description
    &__header
        text-align: center
        font-size: 2rem
    &__item
        font-size: 2rem
        line-height: 2.4rem
        text-align: justify
        @include respond(laptop)
            font-size: 1.8rem
        @include respond(mobile)
            font-size: 1.6rem
        &-header
            font-size: 2.5rem
            @include respond(laptop)
                font-size: 1.9rem

.warning
    font-size: 3rem
    text-align: center
    @include respond(laptop)
        font-size: 2.5rem
    &__text span
        font-size: 3rem
        font-family: "Roboto"
        font-weight: 400
        @include respond(laptop)
            font-size: 1.8rem
        @include respond(mobile)
            font-size: 1.6rem
    &__text a
        @include respond(laptop)
            font-size: 2rem