$bg-page: #f8f9fa
$p-gray: #606060
$h-black: #202020
$bg-product-description: #fefcef
$bg-cart: #e9f2c3
$product-sale-cost: red
$product-cost: gray
$bg-actions: #f6f7f8
$brd-actions: #f0f0f0
$txt-white: #fff