.actions
    display: flex
    justify-content: space-between
    align-items: center
    background: $bg-actions
    padding: .5rem
    border: solid 1px
    border-color: $brd-actions
    &__choose-weight
        display: flex
        gap: 1rem
        align-items: center
    &__arrow
        // "расширяем" элемент для удобства клика
        padding: 1rem
        // "1rem" - gap внутри родителя (целевой отступ)
        // "2rem" = gap внутри родителя + "1rem" - padding самого элемента
        margin-left: calc( 1rem - 2rem )
        &:hover
            cursor: pointer
        &.active
            transform: rotate(90deg)
    &__input-weight-items
        position: absolute
        right: 0
        top: 90%
        padding: .3rem
        background-color: $bg-product-description
        display: flex
        flex-direction: column
        gap: .3rem
        border: solid 1px
        border-color: $brd-actions
        cursor: pointer
    &__input-weight-item
        display: flex
        justify-content: space-between
        align-items: center
        gap: .5rem
        cursor: pointer
        input
            cursor: pointer
    &__add-to-cart
        padding: 1.2rem
        background-color: $bg-cart
        svg
            width: 18px
            height: 18px
            fill: $h-black
        &:hover
            background-color: $h-black
            cursor: pointer
            svg
                fill: $bg-cart